<footer class="page-footer grey darken-2">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 l6">
                <h5 class="white-text">SIGOP</h5>
                <p class="grey-text text-lighten-4">Sistema de gestión y operaciones - Versión 2</p>
            </div>
            <div class="col s12 m4 l6">
                <h5 class="white-text">Accesos rápidos</h5>
                <p class="grey-text text-lighten-4">- Reporte de ventas</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 SHANDONG - Insumos para publicidad
            <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
            <a class="grey-text text-lighten-4 right" href="#!">Desarrollado por : JORGE WINDER</a>
        </div>
    </div>
</footer>