<div class="navbar-fixed">    

    <nav class="white">
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i id="imenu" class="material-icons">menu</i></a>
        <a href="." class="brand-logo left" style="padding: 2px 0 0 10px;height: 100%; color: black;"><img src="/app/img/logo-shandong.svg" alt="" class="responsive-img" width="90"/><div><span>SIGOP</span></div></a>
        
        <ul class="right hide-on-med-and-down">
            <li><a href="./modulo-de-almacen">Almacen</a></li>
            <li><a href="./modulo-de-configuracion">Configuración</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a href="./modulo-de-pedidos-y-ventas">Pedidos y ventas</a></li>
            <li><a href="./modulo-de-cobranzas">Cobranzas</a></li>
        </ul>                
        
    </nav>

</div>


<!--
-->

<ul id="slide-out" class="sidenav">
  <li><a href="." class="brand-logo center" style="padding-top: 10px;"><img src="/app/img/logo-shandong.svg" alt="" class="responsive-img" width="120"/></a></li>
  <li><div class="divider"></div></li>
  <li><a href="sesiones">Sesiones</a></li>
  <li><div class="divider"></div></li>
  <li><a class="waves-effect"  href="mi-portafolio">Portafolio</a></li>
  <li><div class="divider"></div></li>
  <li><a class="waves-effect"  href="historias">Historias</a></li>
  <li><div class="divider"></div></li>
  <li><a class="waves-effect"  href="#contacto">Contacto</a></li>
  <li><div class="divider"></div></li>
</ul>



