<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SIGOP v2.0</title>
    {{> cabecera}}
    <script src="/app/js/modulo-de-ventas-y-pedido.js"></script>
</head>
<body>
    
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="/app/js/materialize.min.js"></script>

    <main>

        
        
        {{{body}}}

    </main>
    
    <!-- {{> footer}} -->
</body>
</html>