

    <div class='container'>

        <div class='section'></div>

        <h4>Mantenimiento de producto</h4>
        <div class='divider black'></div>
        
        <div class='section'>

            <div class='row'>

                <div class="input-field input-field-select col s12 l6" style="padding-top: 5px;">
                    <select id="categoria" name="categoria" class="browser-default">
                        <option value="" disabled="" selected="true">Seleccione categoría</option>
                        <option value="">DISPLAY</option>
                        <option value="">ABS</option>
                        <option value="">ACERO</option>
                    </select>
                    <label style="padding-top: 5px;">Categoría</label>
                </div>

                <div class="input-field input-field-select col s12 l6" style="padding-top: 5px;">
                    <select id="origen" name="origen" class="browser-default">
                        <option value="" disabled="" selected="">Seleccione origen</option>
                        <option value="">NACIONAL</option>
                        <option value="">IMPORTADO</option>
                        <option value="">INDEFINIDO</option>
                    </select>
                    <label style="padding-top: 5px;">Origen</label>
                </div>

                <div class="input-field input-field-select col s12 l6" style="padding-top: 5px;">
                    <select id="color" name="color" class="browser-default">
                        <option value="" disabled="" selected="">Seleccione color</option>
                        <option value="">PLATEADO</option>
                        <option value="">BLANCO</option>
                        <option value="">AMARILLO</option>
                    </select>
                    <label style="padding-top: 5px;">Color</label>                    
                </div>

                <div class="input-field input-field-select col s12 l6" style="padding-top: 5px;">
                    <select id="adt1" name="adt1" class="browser-default">
                        <option value="" disabled="" selected="">Seleccione aditivo</option>
                        <option value="">SIN ADITIVO</option>
                        <option value="">ACERADO CON NEGRO</option>
                        <option value="">ESPEJO CON NEGRO</option>
                    </select>
                    <label style="padding-top: 5px;">Aditivo 1</label>                    
                </div>

                <div class="input-field input-field-select col s12 l6" style="padding-top: 5px;">
                    <select id="adt2" name="adt2" class="browser-default">
                        <option value="" disabled="" selected="">Seleccione aditivo</option>
                        <option value="">SIN ADITIVO</option>
                        <option value="">A</option>
                        <option value="">AA</option>
                        <option value="">ACRILICO</option>
                    </select>
                    <label style="padding-top: 5px;">Aditivo 2</label>                    
                </div>

                <div class="input-field input-field-select col s12 l6" style="padding-top: 5px;">
                    <select id="adt3" name="adt3" class="browser-default">
                        <option value="" disabled="" selected="">Seleccione aditivo 3</option>
                        <option value="">SIN ADITIVO</option>
                        <option value="">PREMIUN</option>
                        <option value="">ESTANDAR</option>
                    </select>
                    <label style="padding-top: 5px;">Aditivo 3</label>                    
                </div>

                <div class='input-field col s12 l3'>
                    <input type="text" id="medidas" name="medidas" value="">
                    <label for="medidas">Descripción de medidas</label>
                </div>

                <div class='input-field col s12 l9'>
                    <input type="text" id="nombre_producto" name="nombre_producto" value="" readonly>
                    <label for="cliente">Nombre de producto</label>
                    <input type="hidden" name="idProducto" id='idProducto'>
                </div>

                <div class='input-field col s12 l3'>
                    <input type="number" id="idPedido" name="idPedido" value="0.00">
                    <label for="idPedido">Precio mínimo</label>
                </div>
                <div class='input-field col s12 l3'>
                    <input type="number" id="idPedido" name="idPedido" value="0.00">
                    <label for="idPedido">Precio máximo</label>
                </div>
                <div class='input-field col s12 l3'>
                    <input type="number" id="idPedido" name="idPedido" value="0">
                    <label for="idPedido">Stock mínimo</label>
                </div>
                <div class='input-field col s12 l3'>
                    <input type="number" id="idPedido" name="idPedido" value="0" readonly>
                    <label for="idPedido">Stock total (almacen)</label>
                </div>

            </div>

            

            <div class='row'>
                
                <div class='input-field col s0 l4'>
                    
                </div>

                <div class='input-field col s12 l8 right-align'>
                    <a class="btn-large waves-effect red lighten-2" ><i class="material-icons left">filter_none</i>Nuevo</a>
                    <a class="btn-large waves-effect red lighten-2" ><i class="material-icons left">save</i>Registrar</a>
                    <a class="btn-large waves-effect red lighten-2" ><i class="material-icons left">update</i>Modificar</a>
                    <a class="btn-large waves-effect red lighten-2" ><i class="material-icons left">delete</i>Eliminar</a>
                </div>
                
            </div>

           
        </div>

        



    </div>


    <!-- <div class="fixed-action-btn" style="bottom: 45px;">
        <a class="btn-floating btn-large waves-effect tooltipped red" data-position="left" data-tooltip="Agregar producto a pedido">
            <i class="material-icons">add</i>
        </a>
    </div> -->
