<form>


    <div class='container'>

        <div class='section'></div>

        <h4>Mantenimiento de producto</h4>
        <div class='divider black'></div>
        
        <div class='section'>

            <div class='row'>

                <div class="input-field input-field-select col s12 l6" style="padding-top: 5px;">
                    <select id="categoria" name="categoria" class="browser-default">
                        <option value="" disabled="" selected="true">Seleccione categoría</option>
                    </select>
                    <label style="padding-top: 5px;">Categoría</label>
                </div>

                <div class="input-field input-field-select col s12 l6" style="padding-top: 5px;">
                    <select id="origen" name="origen" class="browser-default">
                        <option value="" disabled="" selected="">Seleccione origen</option>
                        
                    </select>
                    <label style="padding-top: 5px;">Origen</label>
                </div>

                <div class="input-field input-field-select col s12 l6" style="padding-top: 5px;">
                    <select id="color" name="color" class="browser-default">
                        <option value="" disabled="" selected="">Seleccione color</option>
                    </select>
                    <label style="padding-top: 5px;">Color</label>                    
                </div>

                <div class="input-field input-field-select col s12 l6" style="padding-top: 5px;">
                    <select id="unidad" name="unidad" class="browser-default">
                        <option value="" disabled="" selected="">Seleccione unidad de medida</option>
                    </select>
                    <label style="padding-top: 5px;">Unidad de medida</label>                    
                </div>

                <!-- <div class="input-field input-field-select col s12 l6" style="padding-top: 5px;">
                    <select id="adt2" name="adt2" class="browser-default">
                        <option value="" disabled="" selected="">Seleccione dato</option>
                    </select>
                    <label style="padding-top: 5px;">2do dato de referencia</label>                    
                </div>

                <div class="input-field input-field-select col s12 l6" style="padding-top: 5px;">
                    <select id="adt3" name="adt3" class="browser-default">
                        <option value="" disabled="" selected="">Seleccione dato</option>
                    </select>
                    <label style="padding-top: 5px;">3er dato de referencia</label>                    
                </div> -->

                <div class='input-field col s12 l3'>
                    <input type="text" id="medidas" name="medidas" value="">
                    <label for="medidas">Descripción de medidas o peso</label>
                </div>

                <div class='input-field col s12 l9'>
                    <input type="text" id="nombre_producto" name="nombre_producto" value="" readonly>
                    <label for="cliente">Nombre de producto</label>
                    <input type="hidden" name="idProducto" id='idProducto'>
                </div>

                <div class='input-field col s12 l3'>
                    <input type="number" id="precioMin" name="precioMin" step="0.01" value="0.00">
                    <label for="idPedido">Precio mínimo</label>
                </div>
                <div class='input-field col s12 l3'>
                    <input type="number" id="precioMax" name="precioMax" step="0.01" value="0.00">
                    <label for="idPedido">Precio máximo</label>
                </div>
                <div class='input-field col s12 l3'>
                    <input type="number" id="stockMin" name="stockMin" value="0">
                    <label for="idPedido">Stock mínimo</label>
                </div>
                <div class='input-field col s12 l3'>
                    <input type="number" id="stocktotal" name="stockTotal" value="0" readonly>
                    <label for="idPedido">Stock total (almacen)</label>
                </div>

            </div>

            

            <div class='row'>
                
               <div class='input-field col s12 l12 right-align'>
                    <button class="btn-large waves-effect red lighten-2" id="nuevo" type="button"><i class="material-icons left">filter_none</i>Nuevo</button>
                    <button class="btn-large waves-effect red lighten-2" id="registrar" type="submit"><i class="material-icons left">save</i>Registrar</button>
                    <button class="btn-large waves-effect red lighten-2" id="actulizar" type="button"><i class="material-icons left">update</i>Modificar</button>
                    <button class="btn-large waves-effect red lighten-2" id="eliminar" type="button"><i class="material-icons left">delete</i>Eliminar</button>
                </div>
                
            </div>

           
        </div>

        



    </div>


    <!-- <div class="fixed-action-btn" style="bottom: 45px;">
        <a class="btn-floating btn-large waves-effect tooltipped red" data-position="left" data-tooltip="Agregar producto a pedido">
            <i class="material-icons">add</i>
        </a>
    </div> -->



</form>

