<form>

    <div class='container'>

        <div class='section'></div>

        <h4>Mantenimiento de cliente</h4>
        <div class='divider black'></div>
        
        <div class='section'>
        
            <div class='row' style="padding-top: 5px;">

                <div class="input-field input-field-select col s12 l6" style="padding-top: 5px;">
                    <select id="tipoCliente" name="tipoCliente" class="browser-default">
                        <option value="" disabled="" selected="">Seleccione tipo cliente</option>
                    </select>
                    <label style="padding-top: 5px;">Tipo de cliente</label>
                </div>

                
                <div class='input-field col s12 l6'>
                    <input type="number" id="nro_doc" name="nro_doc" >
                    <label for="nro_doc">Número de documento o RUC</label>
                </div>
                
                <div class='input-field col s12 l12'>
                    <input type="text" id="nombre" name="nombre" value="">
                    <label for="nombre">Nombre y apellidos / Razón social</label>
                </div>

                
                <div class='input-field col s12 l12'>
                    <input type="text" id="direccion" name="direccion" value="">
                    <label for="direccion">Dirección</label>
                </div>

                <div class="input-field input-field-select col s12 l4" style="padding-top: 5px;">
                    <select id="departamento" name="departamento" class="browser-default">
                        <option value="" disabled="" selected="">Seleccione departamento</option>
                    </select>
                    <label style="padding-top: 5px;">Departamento</label>                    
                </div>

                <div class="input-field input-field-select col s12 l4" style="padding-top: 5px;">
                    <select id="provincia" name="provincia" class="browser-default">
                        <option value="" disabled="" selected="">Seleccione provincia</option>
                    </select>
                    <label style="padding-top: 5px;">Provincia</label>                                        
                </div>
                
                <div class="input-field input-field-select col s12 l4" style="padding-top: 5px;">
                    <select id="distrito" name="distrito" class="browser-default">
                        <option value="" disabled="" selected="">Seleccione distrito</option>
                    </select>
                    <label style="padding-top: 5px;">Distrito</label>                                        
                </div>

                
              

            
                

                <div class='col s12 l12'>

                    <ul class="collapsible">
                        <li>
                          <div class="collapsible-header"><i class="material-icons">expand_more</i>Datos de contacto </div>
                          <div class="collapsible-body">

                                <div class="row">                                
                                        <div class='input-field col s12 l7'>
                                            <input type="text" id="nombres_contacto" name="nombres_contacto" value="">
                                            <label for="nombres_contacto">Nombres y apellidos de contacto</label>
                                        </div>                            
                                        <div class='input-field col s12 l7'>
                                            <input type="text" id="correo" name="correo" value="">
                                            <label for="correo">Correo elctrónico</label>
                                        </div>                
                                        <div class='input-field col s12 l7'>
                                            <input type="text" id="telefono_contacto" name="telefono_contacto" value="">
                                            <label for="correo">Teléfono</label>
                                        </div>                                   
                                  </div>
                            

                          </div>
                        </li>
                    </ul>

                </div>
                        

            </div>

            

            <div class='row'>
                
               <div class='input-field col s12 l12 right-align'>
                    <a class="btn-large waves-effect red lighten-2 modal-trigger" id="busqueda" href="#modal1"><i class="material-icons left">find_in_page</i>Buscar</a>
                    <button class="btn-large waves-effect red lighten-2" id="nuevo" type="button"><i class="material-icons left">filter_none</i>Nuevo</button>
                    <button class="btn-large waves-effect red lighten-2" id="registrar" type="submit"><i class="material-icons left">save</i>Registrar</button>
                    <button class="btn-large waves-effect red lighten-2" id="actulizar" type="button"><i class="material-icons left">update</i>Modificar</button>
                    <button class="btn-large waves-effect red lighten-2" id="eliminar" type="button"><i class="material-icons left">delete</i>Eliminar</button>
                </div>
                
            </div>

           
        </div>

        



    </div>



    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
        <h5>BÚSQUEDA DE CLIENTE</h5>
            <div class="row">
                <div class='input-field col s12 l12'>
                    <input type="text" id="nombre_producto_busqueda" class="autocomplete" value="">
                    <!-- <label for="nombre_producto_busqueda">Nombre de producto</label> -->
                    <span class="helper-text green-text" data-error="wrong" data-success="right"><span style="font-size: 20px;">⌨</span> Escriba un nombre, selecione un cliente y presione tecla [ENTER] para iniciar búsqueda</span>
                    <input type="hidden" name="" id=''>
                </div>

            </div>
        </div>
        <div class="modal-footer">
        <a href="#" class="modal-close waves-effect waves-red btn-flat"><i class="material-icons right">close</i>Cerrar</a>
        </div>
    </div>


    <!-- <div class="fixed-action-btn" style="bottom: 45px;">
        <a class="btn-floating btn-large waves-effect tooltipped red" data-position="left" data-tooltip="Agregar producto a pedido">
            <i class="material-icons">add</i>
        </a>
    </div> -->



</form>

