
  <br>


  <div class="container">
    <div class="seccion">

      <h5>MÓDULO DE COBRANZAS Y CAJA</h5>

      <div class="seccion">

            <div class="collection card-panel">
                <!-- <a href="#!" class="collection-item black-text" style="display: flex ;"><i class="material-icons">filter_drama</i> <span style="margin-left: 20px;">Alan</span> <div class="left-align" style="width: 100%;"><span class="new badge right red">1</span></div></a> -->
                <a href="#!" class="collection-item black-text" style="display: flex ;"><i class="material-icons">content_copy</i> <span style="margin-left: 20px;">Registrar cobranza</span></a>
                <a href="#!" class="collection-item black-text" style="display: flex ;"><i class="material-icons">assignment</i> <span style="margin-left: 20px;">Reporte de ventas</a>
                <a href="#!" class="collection-item black-text" style="display: flex ;"><i class="material-icons">assignment</i> <span style="margin-left: 20px;">Reporte de cobranzas</a>
                
            </div>


      </div>

    </div>
</div>


