<div class='container'>

    <div class='section'></div>

    <h4>Registar pedido</h4>
    <div class='divider black'></div>

    <div class='section'>
        <div class='row'>
            <div class='input-field col s12 l3'>
                <input type="number" id="idPedido" name="idPedido" value="" readonly>
                <label for="idPedido">Código de pedido</label>
            </div>
            <div class='input-field col s12 l3'>
                <input type="text" id="cliente" name="cliente" value="">
                <label for="cliente">Cliente</label>
                <input type="hidden" name="idcliente" id='idcliente'>
            </div>
            <div class='input-field col s6 l2' style="padding-right: 0px">
                <a class="btn-flat red-text modal-trigger" href="#modal1" id="modal-search-client"
                    style=" width: 100%; margin-top: 10px; padding: 0 0px 0 0px;">Buscar cliente
                </a>
            </div>
            <!-- Modal Buscar Cliente -->
            <div id="modal1" class="modal" style="width: 60%">
                <div class="modal-content">
                    <h4>Buscar Cliente</h4>
                    <div class='row'>
                        <div class='input-field col s12 l12'>
                            <input type="text" id="search-number" name="search-number" value="">
                            <label for="search-number">Nombre de cliente o numero de documento</label>
                        </div>
                    </div>
                </div>
            </div>


            <div class='input-field col s6 l2' style="padding-right: 0px; padding-left: 0px">
                <a class="btn-flat red-text modal-trigger" href="#modal2" id="modal-client"
                    style=" width: 100%; margin-top: 10px; padding: 0 0px 0 0px;">Nuevo cliente
                    <i class="material-icons left" style="margin-right: 2px">add_box</i>
                </a>
            </div>

            <!-- Modal Nuevo Cliente -->
            <div id="modal2" class="modal" style="width: 60%">
                <div class="modal-content">
                    <h4>Nuevo Cliente</h4>
                    <div class='row'>
                        <div class='input-field col s12 l12'>
                            <input type="number" id="ruc-dni" name="ruc-dni" value="">
                            <label for="ruc-dni">RUC/DNI</label>
                        </div>
                    </div>
                    <div class="input-field input-field-select col s12 l12" style="padding-top: 5px;">
                        <select id="tipo-cliente" name="tipo-cliente" class="browser-default">
                            <option value="" disabled="" selected="">Seleccione el tipo de cliente</option>
                            <option value="" selected="true">Empresa</option>
                            <option value="" selected="true">Persona Natural</option>
                        </select>
                        <label style="padding-top: 5px;">Tipo de cliente</label>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12 l12'>
                            <input type="text" id="direccion" name="direccion" value="">
                            <label for="ruc-dni">Direccion</label>
                        </div>
                    </div>
                    <div class="input-field input-field-select col s12 l12" style="padding-top: 5px;">
                        <select id="provincia" name="provincia" class="browser-default">
                            <option value="" disabled="" selected="">Seleccione provincia</option>
                            <option value="" selected="true">Lima</option>
                            <option value="" selected="true">Callao</option>
                        </select>
                        <label style="padding-top: 5px;">Provincia</label>
                    </div>
                    <div class="input-field input-field-select col s12 l12" style="padding-top: 5px;">
                        <select id="distrito" name="distrito" class="browser-default">
                            <option value="" disabled="" selected="">Seleccione distrito</option>
                            <option value="" selected="true">Lima</option>
                            <option value="" selected="true">Cercado de lima</option>
                        </select>
                        <label style="padding-top: 5px;">Pueblo libre</label>
                    </div>
                    <div class="row">
                        <div class="col l12">
                            <h6>Datos de contacto y entrega</h6>
                            <hr>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12 l12'>
                            <input type="text" id="nombre-contacto" name="nombre-contacto" value="">
                            <label for="nombre-contacto">Nombres y apellidos de contacto</label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12 l12'>
                            <input type="text" id="correo" name="correo" value="">
                            <label for="correo">Correo</label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12 l12'>
                            <input type="text" id="telefono" name="telefono" value="">
                            <label for="telefono">Teléfono</label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12 l12'>
                            <input type="text" id="direccion-entrega" name="direccion-entrega" value="">
                            <label for="direccion-entrega">Dirección entrega</label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12 l12'>
                            <input type="text" id="empresa-transporte" name="empresa-transporte" value="">
                            <label for="empresa-transporte">Empresa medio de transporte</label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12 l12'>
                            <input type="text" id="apuntes" name="apuntes" value="">
                            <label for="apuntes">Otros apuntes</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center;">
                    <a href="#!" class="btn modal-close waves-effect waves-red ">Limpiar Cliente</a>
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat green">Registrar Cliente</a>
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat yellow">Modificar cliente</a>
                    <a href="#!" class="modal-close waves-effect waves-red btn-flat red">Eliminar Cliente</a>
                </div>
            </div>

            <div class='input-field col s6 l2' style="padding-right: 0px; padding-left: 0px">
                <a class="btn-flat red-text modal-trigger" name="action"
                    style="width: 100%; margin-top: 10px; padding: 0px;" href="#modal3" id="modal-data-client">Datos
                    de
                    cliente
                    <i class="material-icons left" style="margin-right: 0px">remove_red_eye</i>
                </a>
            </div>
            <!-- Modal Datos Cliente -->
            <div id="modal3" class="modal" style="width: 60%">
                <div class="modal-content">
                    <h4>Datos de Cliente</h4>
                    <div class='row'>
                        <div class='input-field col s12 l12'>
                            <input type="number" id="ruc-dni" name="ruc-dni" value="">
                            <label for="ruc-dni">RUC/DNI</label>
                        </div>
                    </div>
                    <div class="input-field input-field-select col s12 l12" style="padding-top: 5px;">
                        <select id="tipo-cliente" name="tipo-cliente" class="browser-default">
                            <option value="" disabled="" selected="">Seleccione el tipo de cliente</option>
                            <option value="" selected="true">Empresa</option>
                            <option value="" selected="true">Persona Natural</option>
                        </select>
                        <label style="padding-top: 5px;">Tipo de cliente</label>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12 l12'>
                            <input type="text" id="razon-social" name="razon-social" value="">
                            <label for="razon-social">Razón Social/ Nombres</label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12 l12'>
                            <input type="text" id="direccion" name="direccion" value="">
                            <label for="ruc-dni">Direccion</label>
                        </div>
                    </div>
                    <div class="input-field input-field-select col s12 l12" style="padding-top: 5px;">
                        <select id="provincia" name="provincia" class="browser-default">
                            <option value="" disabled="" selected="">Seleccione provincia</option>
                            <option value="" selected="true">Lima</option>
                            <option value="" selected="true">Callao</option>
                        </select>
                        <label style="padding-top: 5px;">Provincia</label>
                    </div>
                    <div class="input-field input-field-select col s12 l12" style="padding-top: 5px;">
                        <select id="distrito" name="distrito" class="browser-default">
                            <option value="" disabled="" selected="">Seleccione distrito</option>
                            <option value="" selected="true">Lima</option>
                            <option value="" selected="true">Cercado de lima</option>
                        </select>
                        <label style="padding-top: 5px;">Pueblo libre</label>
                    </div>
                    <div class="row">
                        <div class="col l12">
                            <h6>Datos de contacto y entrega</h6>
                            <hr>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12 l12'>
                            <input type="text" id="nombre-contacto" name="nombre-contacto" value="">
                            <label for="nombre-contacto">Nombres y apellidos de contacto</label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12 l12'>
                            <input type="text" id="correo" name="correo" value="">
                            <label for="correo">Correo</label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12 l12'>
                            <input type="text" id="telefono" name="telefono" value="">
                            <label for="telefono">Teléfono</label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12 l12'>
                            <input type="text" id="direccion-entrega" name="direccion-entrega" value="">
                            <label for="direccion-entrega">Dirección entrega</label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12 l12'>
                            <input type="text" id="empresa-transporte" name="empresa-transporte" value="">
                            <label for="empresa-transporte">Empresa medio de transporte</label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12 l12'>
                            <input type="text" id="apuntes" name="apuntes" value="">
                            <label for="apuntes">Otros apuntes</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class='row'>
            <div class='input-field col s12 l3'>
                <input type="number" id="tienda" name="tienda" value="" readonly>
                <label for="tienda">Tienda</label>
                <input type="hidden" id="idtienda" value="1">
            </div>
            <div class='input-field col s12 l5'>
                <input type="date" id="fechapedido" name="fechapedido" value="">
                <label for="fechapedido">Fecha pedido</label>
            </div>
            <div class='input-field col s12 l4'>
                <input type="date" id="fechaentrega" name="fechaentrega" value="">
                <label for="fechaentrega">Fecha entrega</label>
            </div>

            <div class="input-field input-field-select col s12 l12" style="padding-top: 5px;">
                <select id="empresa" name="empresa" class="browser-default">
                    <option value="" disabled="" selected="">Seleccione empresa</option>
                    <option value="" selected="true">SHANDONG TIANXIN TRADING COMPANY S.A.C.</option>
                </select>
                <label style="padding-top: 5px;">Empresa responsable del pedido</label>
            </div>

        </div>
        <div clas="row">
            <div class='col s6 l6 modal-trigger' id="despacho-domicilio" data-target="modal4">
                <label>
                    <input type="checkbox" class="filled-in" />
                    <span>DESPACHO A DOMICILIO</span>
                </label>
            </div>
            <div class='input-field col s6 l6'>
                <input type="text" id="estado" name="estado" value="">
                <label for="estado">Estado de pedido</label>
            </div>
        </div>
        <!-- Modal Despacho a Domicilio -->
        <div id="modal4" class="modal" style="width: 60%">
            <div class="modal-content">
                <h4>Despacho a Domicilio</h4>
                <div class='row'>
                    <div class='input-field col s12 l12'>
                        <input type="text" id="encargado" name="encargado" value="">
                        <label for="encargado">Nombre de encargado de endtega</label>
                    </div>
                </div>
                <div class='row'>
                    <div class='input-field col s12 l12'>
                        <input type="text" id="recibe" name="recibe" value="">
                        <label for="recibe">¿Quién recibirá el producto?</label>
                    </div>
                </div>
                <div class='row'>
                    <div class='input-field col s12 l12'>
                        <input type="text" id="direccion" name="direccion" value="">
                        <label for="direccion">Direccion y/o destino de entrage</label>
                    </div>
                </div>
                <div class='row'>
                    <button class="btn-large waves-effect orange" type="submit" name="action"> Grabar datos
                        para entrega
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class='section' style='margin-top: -40px;'>

        <h5>Detalle de pedido</h5>
        <div class='divider black'></div>

        <table class="highlight" id="detalle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th width='450'>PRODUCTO</th>
                    <th width='60'>CANTIDAD</th>
                    <th width='100'>P.UNIT</th>
                    <th width='100'>P.TOTAL</th>
                    <th>DESCUENTO</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <div class='input-field' style='margin-right: 10px;'>
                            <input type="text" id="nompro" name="nompro" value="">
                            <input type="hidden" id="idProducto" value="">
                        </div>
                    </td>
                    <td>
                        <div class='input-field' style='margin-right: 10px;'>
                            <input type="number" id="cantidad" name="cantidad" value="">
                        </div>
                    </td>
                    <td>
                        <div class="input-field input-field-select">
                            <select id="empresa" name="empresa" class="browser-default">
                                <option value="" disabled="" selected="">--</option>
                                <option value="" selected="true">122 PU</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class='input-field' style='margin-right: 10px;'>
                            <input type="number" id="total" name="total" step="0.01" value="">
                        </div>
                    </td>
                    <td>
                        <div class='input-field' style='margin-right: 10px;'>
                            <input type="number" id="desc" name="desc" step="0.01" value="">
                        </div>
                    </td>
                    <td>
                        <button class="btn-small waves-effect red lighten-2" type="button" name="action" value="1"
                            id="eliminar-1"> Eliminar
                            <i class=" material-icons left">delete</i>
                        </button>
                    </td>

                </tr>
            </tbody>
        </table>


    </div>




</div>


<div class="fixed-action-btn" style="bottom: 45px;" id="agregar-producto">
    <a class="btn-floating btn-large waves-effect tooltipped red" data-position="left"
        data-tooltip="Agregar producto a pedido">
        <i class="material-icons">add</i>
    </a>
</div>