body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
 }

  main {
    flex: 1 0 auto;
  }

/* Estilo barra de progreso */
 
.progress{
    background-color: #f3bfbf;
} 

.progress .indeterminate {
  background-color: #ee6b6b;
} 



/* Estilo para la barra de navegacion */

nav ul li a {
  color: black;
}


nav .brand-logo{
  display: flex; 
  align-items: center;
}

nav .brand-logo span{

  padding-left: 10px;
  margin-left: 10px;
  border-left: #ee6b6b solid 2px;
  font-weight: 500;
  /* font-size: 2.50rem; */
}


/* Estilos para controles input */

/* label color */
.input-field label {
  color:  rgb(63, 62, 62);
  padding-left: 10px;
  transform: translateY(15px);
  height: auto !important;
}

.input-field.col label {
    
  height: auto !important;

}

/* label focus color */
.input-field input[type=text]:focus + label , .input-field input[type=number]:focus + label , .input-field input[type=date]:focus + label {
  color:  #ee6b6b !important;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
  
  border: 2px solid #ee6b6b;
  background-color: #ee6b6b;
}


/* Estilos personalizados de jwinder */

.input-field-select > label {
  color:  rgb(63, 62, 62);
  padding-left: 10px;
  transform: translateY(-25px) !important;
  height: 60px !important;
}

.input-field-select > select {
  height: 54px;

}

.input-field input[type=text] , .input-field input[type=number] , .input-field input[type=date] {
  /* border-top-left-radius: 40% */
  border-radius: 8px 8px 0 0;
  height: 54px;
  background-color: rgb(243, 243, 243);
  padding-left: 10px;
  padding-top: 5px;
}

.input-field>label:not(.label-icon).active {
  /* -webkit-transform: translateY(-14px) scale(0.8); */
  transform: translateY(0px) scale(0.8);
  /* -webkit-transform-origin: 0 0; */
  transform-origin: 0 0;
  
}


[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  width:20px; 
  height:20px;
}

/* ------------------------------------- */


/* label underline focus color */
.input-field input[type=text]:focus , .input-field input[type=number]:focus , .input-field input[type=date]:focus {
  border-bottom: 1px solid #ee6b6b !important;
  box-shadow: 0 1px 0 0 #ee6b6b !important;
}
/* valid color */
.input-field input[type=text].valid , .input-field input[type=number].valid {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

.input-field input[type=text].valid:focus , .input-field input[type=number].valid:focus , .input-field input[type=date].valid:focus {
  border-bottom: 1px solid #ee6b6b !important;
  box-shadow: 0 1px 0 0 #ee6b6b !important;
}

/* invalid color */
.input-field input[type=text].invalid , .input-field input[type=numbre].invalid {
  border-bottom: 1px solid #ee6b6b !important;
  box-shadow: 0 1px 0 0 #ee6b6b !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #ee6b6b;
}